/* layout */
$nav-height: 60px;
$card-width: 300px;
$grid-gap-sm: 30px;
$grid-gap-md: 45px;
$grid-gap-lg: 60px;

nav {
	position: fixed;
	width: 100%;
	height: $nav-height;
	border: none;
	background-color: $lightGray;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 9px;
}
.home {
	@media (min-width: $breakpoint) {
		display: flex;
		align-items: center;
	}
	p {
		margin: 0;
		display: none;
		@media (min-width: $breakpoint) {
			margin-left: 9px;
			display: block;
			color: $darkGray;
		}
	}
}
.logo {
	height: 36px;
	border-radius: 50%;
}
.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	 li {
		list-style-type: none;
	}
}

main {
	margin: 0;
	padding-top: $nav-height;
	background-color: $gray;
}
.hero-section {
	margin-top: $nav-height;
	min-height: 300px;
}
section {
	margin: $nav-height 0;
	background-color: $lightGray;
}

.content {
	margin: 0 auto;
	width: 100%;
	max-width: $card-width;
	padding: 24px 0;
	@media (min-width: $breakpoint) {
		max-width: calc($card-width * 2 + $grid-gap-md);
		padding: 36px 0;
	}
	@media (min-width: $breakpoint2) {
		max-width: calc($card-width * 3 + $grid-gap-lg * 2);
		padding: 48px 0;
	}
}

.grid-area {
	margin: 48px auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: $grid-gap-sm;
	@media (min-width: $breakpoint) {
		grid-template-columns: repeat(2, 1fr);
		gap: $grid-gap-md;
	}
	@media (min-width: $breakpoint2) {
		grid-template-columns: repeat(3, 1fr);
		gap: $grid-gap-lg;
	}
}

.card {
	border-radius: 24px;
	background-color: $white;
	min-width: $card-width;
	max-width: 360px;
	img {
		border-radius: 24px 24px 0 0;
	}
	h3, p {
		margin: 18px;
	}
	p {
		height: 60px;
	}
}
.card:hover {
	animation-name: cardAddShadow;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}
@keyframes cardAddShadow {
	from {
		box-shadow: none;
	}
	to {
		box-shadow: -6px -6px 12px $white, 
		6px 6px 12px rgba($turquoise, 0.3);
	}
}

.text-area {
	// padding: 24px;
	max-width: calc($card-width * 2 + $grid-gap-md);
}

.button-area {
	text-align: right;
	margin: 18px;
}

.photo {
	margin: 0 auto;
	width: 120px;
}
.photo img {
	border-radius: 50%;
}
.contact {
	display: flex;
	align-items: center;
}
.contact img {
	width: 24px;
}

footer {
	background-color: $lightGray;
	padding: 12px 0;
	text-align: center;
}